/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #eeeeee !default;
$text-color: #222831 !default;
$muted-text-color: #393e46 !default;
/*这里将primary-color 从eeeeee改成了黑色，实现了sidebar的content table的toc lable以及footer底色的修改*/
$primary-color: #778899 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #393e46 !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#000, $text-color, 80%) !default;

.page__footer {
  color: #222831 !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
